@model StudentRegistrationSystem.Models.Student

<h1>Edit Student</h1>

<form method="post">

    <label>Name</label><br />
    <input type="text" name="Name" value="@Model.Name" />
    <br /><br />

    <label>Department</label><br />
    <input type="text" name="Department" value="@Model.Department" />
    <br /><br />

    <label>Email</label><br />
    <input type="email" name="Email" value="@Model.Email" />
    <br /><br />

    <button type="submit">Update Student</button>

</form>